<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{titulo}}</h1>

      <form #newPageForm="ngForm" (ngSubmit)="onSubmit(newPageForm)">
        <p>
          <label>Nombre:</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="page.name" required/>
        </p>
        <p>
          <label>Tema:</label>
          <select class="form-control" name="theme" [(ngModel)]="page.theme">
            <option *ngFor="let t of themes" [ngValue]="t.name">{{t.name}}</option>
          </select>
        </p>
        <p>
          <label>Bloque:</label>
          <input type="text" class="form-control" name="block" [(ngModel)]="page.block" required/>
        </p>
        <input type="submit" value="Crear Página" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>
