<div *ngIf="block.type == 'header'">

<section class="row banner-landing vertical-align " style="background-image: url( 'https://s3-eu-west-1.amazonaws.com/arenagg-static/landing/taberna/img/fondo-taberna.jpg'); opacity: 1; background-position: center 0px; ">
  <div class="overlay "></div>
  <div class="container ">
    <div class="row ">
      <div class="col-xs-12 ">
        <div class="arena-logo ">
          <img class="img-responsive " src="https://s3-eu-west-1.amazonaws.com/arenagg-static/landing/taberna/img/tabernaGG_500.png ">
        </div>
        <h2>Participa en TabernaGG y mide tu talento en Hearthstone contra jugadores profesionales. Hay más de <span>2.000€</span> en premios.</h2>
      </div>
      <div class="btn-frame ">
        <a class="btn-frame-inner js-smoothScroll " href="#online ">
            <span class="btn ">
                <span class="btn-text ">Apúntate</span>
            </span>
        </a>
      </div>
    </div>
  </div>
</section>
</div>




<div *ngIf="block.type == 'overview'">

<section class="row banner-landing vertical-align " style="background-image: url( 'https://s3-eu-west-1.amazonaws.com/arenagg-static/landing/taberna/img/fondo-taberna.jpg'); opacity: 1; background-position: center 0px; ">
  <div class="overlay "></div>
  <div class="container ">
    <div class="row ">
      <div class="col-xs-12 ">
        <div class="arena-logo ">
          <img class="img-responsive " src="https://s3-eu-west-1.amazonaws.com/arenagg-static/landing/taberna/img/tabernaGG_500.png ">
        </div>
        <h2>Participa en TabernaGG y mide tu talento en Hearthstone contra jugadores profesionales. Hay más de <span>2.000€</span> en premios.</h2>
      </div>
      <div class="btn-frame ">
        <a class="btn-frame-inner js-smoothScroll " href="#online ">
            <span class="btn ">
                <span class="btn-text ">Apúntate</span>
            </span>
        </a>
      </div>
    </div>
  </div>
</section>
</div>
 